# Python
__pycache__/
/.venv
/venv/
/venv.bak/

# Modes & Data
models/*
!/models/README.md
/data/*
!/data/README.md

# Others
/logs/
/scripts/
/snapshots/
/trt_cache/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.gemini/
.agents/